<div class="reveal">
<div class="slides">
      <section>
        <h1>react-rails: an isomorphic match made in heaven</h1>
        <p> - by Jesse Wolgamott (@jwo)</p>
      </section>
      <section>
          <section>Vertical Slide 1</section>
          <section>Vertical Slide 2</section>
      </section>
  </div>
</div>
