.columns {
  display: flex;
  flex-direction: row;

  .votie {
    flex: 2;
  }
  .chartie {
    flex: 5;
  }
}
.reveal{
  height: 300px !important;
}

.voting {
  display: flex;
  .vote {
    cursor: pointer;
    flex: 1;
    color: #cccccc;
    i.fa-thumbs-down {
      &.current {
        color: #C0392B;
      }
    }

    .fa-thumbs-up{

      &.current {
        color: #27AE60;
      }
    }
  }
}
