.voting {
  display: flex;
  .vote {
    cursor: pointer;
    flex: 1;
    color: #cccccc;
    i.fa-thumbs-down {
      &.current {
        color: #C0392B;
      }
    }

    .fa-thumbs-up{

      &.current {
        color: #27AE60;
      }
    }
  }
}
